

.container {
  display: inline;
  background-color: rebeccapurple;
  height: 1px;

  border:5rem;

}
title {
  width: 50px;
}

nav{
  display: inline-block ; 
  flex-direction: row;
}
style {
margin: 20%;
}

.h1{
  font-style: italic;
  font-size: 2em;
  margin: 2rem;
}
strong {
flex :center;
}

body {
  margin: 0;

}

linked {
  display: flex;
  flex-wrap: wrap;

}

p {
  display :inline-block;
}

